.state-active {
  color: green;
  font-weight: bold;
  text-align: right;
  font-size: 14px;
}

.state-inactive {
  color: red;
  font-weight: bold;
  text-align: right;
  font-size: 14px;
}

.small {
  font-size: small;
}
